@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

body {
    margin: 0;
}

nav {
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 75px;
    margin-left: 20px;
}

.navItems {
    font-family: 'Philosopher', sans-serif;
    text-decoration: none;
    padding: 32px 40px;
    color: #A4193D;
}

.navItems:hover {
    background-color: #ddd;
}

.slider {
    height: 50vw;
    max-height: 600px;
    width: 70vw;
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 2.5%;
    overflow: hidden;
    position: relative;

}

.slide {
    position: absolute;
    background-color: #ccc;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    
}

.slide img{
    position: relative;
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    
}
.slide:first-of-type{
    z-index: 1;
}

.slide p{
    position: relative;
    bottom: 150px;
    background-color: white;
    width: fit-content;
    font-family: 'Philosopher', sans-serif;
    text-decoration: none;
    color: #A4193D;
    font-size: larger;
    padding:5px 40px;
    border-radius: 0 5px 5px 0;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
    z-index: 2;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 50%;
    left: 2%;
  }
  
  .btn-next {
    top: 50%;
    right: 2%;
  }